<app-navbar></app-navbar>
    
<section id="bienvenida">
    <div class="row row-cols-lg-2 row-cols-1">
        <div class="info-bienvenida">
            <h1 class="titulo">Bienvenidos</h1>
            <img class="logo" src="../assets/logoiconwhite.svg" alt="logo">
            <p id="slogan1">Nuestra razon de ser esta basada en la idea de brindar</p>
            <p id="slogan2">Salud, belleza y bienestar</p>
        </div>
        <div class="portada">
            <img src="../assets/senora_preview_rev_1.png" alt="portada"> 
        </div>
    </div>
</section>

<section id="servicios">
    <h1>Nuestros Servicios</h1>
    <hr>
    <div class="servicios-img">
        <img src="../assets/servicios1.jpg" alt="">
        <img src="../assets/servicios2.jpg" alt="">
        <img src="../assets/servicios1.jpg" alt="">
        <img src="../assets/servicios4.png" alt="">
        <img src="../assets/servicios5.jpg" alt="">
        <img src="../assets/servicios6.jpg" alt="">
    </div>
</section>

<section id="comentarios" >
    <h1>Comentarios de Nuestros Clientes</h1>
    <hr>
    <div id="comentarios-carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause:hover>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cliente">
                <img class="comentarios-image" src="../../assets/usuario.png" alt="cliente">
                <div class="comentarios-text">
                    <p>{{active.comentarios[0].mensaje}}</p>
                    <p>{{this.usuarios[0][0].nombre}} {{this.usuarios[0][0].apellido}}</p>
                </div>
            </div>
          </div>
          <div class="carousel-item" *ngFor="let j of comentarios;let i=index;trackBy:trackByOption">
            <div class="cliente">
                <img class="comentarios-image" src="../../assets/usuario.png" alt="cliente">
                <div class="comentarios-text">
                    <p>{{j.comentarios[0].mensaje}}</p>
                    <p>{{this.usuarios[i+1][0].nombre}} {{this.usuarios[i+1][0].apellido}}</p>
                </div>
            </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#comentarios-carousel" role="button" data-slide="prev">
        <i class="icon-control fas fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#comentarios-carousel" role="button" data-slide="next">
        <i class="icon-control fas fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
</section>

<section id="mapa" >
    <h1>Como llegar?</h1>
    <hr>
    <iframe class="mapa" src="https://www.google.com/maps/d/u/0/embed?mid=1SfMHq1rkDQeeXuq-B6tEl4eFDyzlEFAh" height="500"></iframe>

</section>

<app-whatsapp></app-whatsapp>
<app-footer></app-footer>