<section id="header">
    <div id="redes">
        <ul>
            <li>
                <a href="">
                    <i class="social-icon fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/Centro-Est%C3%A9tico-Tairy-570249216688686/">
                    <i class="social-icon fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/centroesteticotairy/">
                    <i class="social-icon fab fa-instagram"></i>
                </a>
            </li>

        </ul>
    </div>
    <div id="menu" class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a routerLink="/" class="logo navbar-brand">
            <img src="../../assets/originallogo.svg" alt="Logo Centro Estetico Tairy" class = "logo" width=100% height=100%>
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="opcion nav-link" >INICIO</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/equipo" class="opcion nav-link">EQUIPO</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/servicios" class="opcion nav-link">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/promociones" class="opcion nav-link" >PROMOCIONES</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contacto" class="opcion nav-link" >CONTACTO</a>
                </li>
                <!-- solo es para probar dashboard -->
                <li class="nav-item">
                  <a routerLink="/login" class="opcion nav-link" >DASH</a>
              </li>
            </ul>

        </div>
    </div>
</section>

