@import url('http://fonts.cdnfonts.com/css/beyond-the-mountains');


body{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    background-color: #fafafa;
}

#navbarToggler{
    display: flex !important;
    justify-content: left !important;
}

#servicios, #comentarios, #mapa, #nosotros, #valores, #equipo, #certificados, #cuentanos, #noticias, #promos {
    padding: 3rem;
    text-align: center;
    background-color: #fafafa;
}

h1{
    color: #7db63d;
    font-family: 'Beyond The Mountains', sans-serif;
    font-size: 3.5vw;              
}

h3{
    font-weight: bold;
    font-size: 150%;
}

hr{
    width: 10rem;
    background-color: #185f33;
}

/*HEADER*/

/*Redes*/

#redes{
    position: absolute;
    top: 1rem;
    z-index: 999;
}

#redes ul li{
    list-style: none;
    padding-bottom: 2.75rem;
}

#redes ul li i{
    color: #7db63d;
    font-size: large;
}

#redes ul{
    padding-left: 1.5rem;
}

/*Menu*/
#menu{
    margin: 0rem 10% 0rem;
}

.opcion{
    color: #185f33;
    font-weight: bold;
    font-size: large;
    margin-right: 3.5rem;
}

.logo{
    max-width: 100%;
    min-width: 15%;
}

@media screen and (max-width: 1000px){
    #redes, .portada, .img-descripcion{
        display: none;
    }
    .descripcion{
        padding: 0 10%;
    }
}

/*FOOTER*/

footer{
    background-color: #7db63d;
    padding: 2% 15%;
    color: white;
}

h2{
    margin-top: 5%;
    font-family: 'Beyond The Mountains', sans-serif;
    margin-bottom: 3%;
    color: #185f33 ;
    font-size: 2vw;
}

.contact-grid{
    display: grid;
    grid-template-columns: 30% 70%;
}


.img-footer{
    margin-top: 5%;
    max-width: 100%;
    min-width: 100%;
}

.contact-info{
    font-style: italic;
    font-size: 1.25vw;
}

.info{
    padding-top: 3%;
    margin-left: 20%;
}

.dato{
    font-weight: bold;
}

/* Flotante Whatsapp */

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#185f33;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
    text-decoration: none;
    color: #fafafa;
  background-color:#7db63d;
}

.my-float{
    margin-top:16px;
}