@import url('http://fonts.cdnfonts.com/css/beyond-the-mountains');


body{
    font-family: 'Roboto', sans-serif;
}

#servicios, #comentarios, #mapa{
    padding: 4rem;
    text-align: center;
    background-color: #fafafa;
}

h1{
    color: #7db63d;
    font-family: 'Beyond The Mountains', sans-serif;
    font-size: 300%;              
}

hr{
    width: 10rem;
    background-color: #185f33;
}

/*HEADER*/

/*Redes*/

#redes{
    position: absolute;
    top: 1rem;
    z-index: 999;
}

#redes ul li{
    list-style: none;
    padding-bottom: 2.5rem;
}

#redes ul li i{
    color: #7db63d;
    font-size: x-large;
}

#redes ul{
    padding-left: 2rem;
}

/*Menu*/
#menu{
    margin: 0rem 10% 0rem;
}

.opcion{
    color: #185f33;
    font-weight: bold;
    font-size: large;
    margin-right: 3.5rem;
}

.logo{
    max-width: 100%;
    min-width: 15%;
}

@media screen and (max-width: 1000px){
    #redes, .portada{
        display: none;
    }
}

/*BIENVENIDA*/

.titulo{
    color: #185f33;
    font-size: 400%;
}

#bienvenida{
    background-image: linear-gradient(to top right, #7db63d ,#dcebcc, #ffffff);
}

#slogan1{
    color: #707070;
    margin-top: 1rem;
    margin-bottom: 0%;
}

#slogan2{
    color: #185f33;
    font-weight: bold;
    font-size: x-large;
}

.info-bienvenida{
    text-align: center;
    padding: 3rem;
    font-size: large;
    font-style: italic;
}

/*SERVICIOS*/

/*COMENTARIOS*/

.cliente{
    background-color: white;
    max-width: 50%;
    min-width: 50%;
    position: relative;
    left: 25%;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comentarios-image{
    width: 100%;
    border-radius: 100%;
}

.comentarios-text{
    margin-left: 2rem;
    text-align: justify;
    line-height: 1.5;
    color: #707070 ;
    font-size: large;
}

.icon-control{
    color: #185f33;
    font-size: x-large;
}

/*MAPA*/

.mapa{
    max-width: 100%;
    min-width: 90%;
}

/*FOOTER*/

footer{
    background-color: #7db63d;
    padding: 2% 15%;
    color: white;
}

h2{
    margin-top: 5%;
    font-family: 'Beyond The Mountains', sans-serif;
    margin-bottom: 3%;
    color: #185f33 ;
}

.contact-grid{
    display: grid;
    grid-template-columns: 30% 70%;
}

.img-footer{
    margin-top: 5%;
    max-width: 100%;
    min-width: 100%;
}

.contact-info{
    font-style: italic;
    font-size: medium;
}

.info{
    padding-top: 3%;
    margin-left: 20%;
}

.dato{
    font-weight: bold;
}