@import url('http://fonts.cdnfonts.com/css/beyond-the-mountains');



/*BUSQUEDA*/

#lista-servicios{
    padding: 3rem;
    text-align: center;
    background-color: #fafafa;
}

.titulo{
    color: white;
    margin-bottom: 4%;     
}

#busqueda{
    text-align: center;
    background-image: linear-gradient(to bottom, #7db63d, #fafafa);
}
.categorias-grid{
    padding: 0 5% 4%;
}

.input{
    padding: 5%;
}

.silueta{
    background-color: #185f33;
    padding: 10% 15%;
    border-radius: 45%;
}

/*SERVICIOS*/

.servicio{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 6.5%;
    margin-bottom: 1%;
}

.servicio h2{
    margin: 2%;
    font-family: 'Roboto', sans-serif;
}

.servicio img{
    margin-top: 3%;
    max-width: 70%;
}

.servicio p{
    margin-top: 2%;
}

.categoria{
    color: #7db63d ;
}



/*IR ARRIBA*/

.fa-chevron-up{
    margin-top:16px;
  }

  .up {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#185f33;
    color:#fafafa;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;

  }
  
  .up:hover {
    filter: brightness(120%);
    color: #fafafa;
  }