
<div class="d-flex fondoColor">
  <app-sidebar></app-sidebar>
  <app-navbar-admin></app-navbar-admin>
  
  
    
  
    <section class="servicios">
        <h4 class="tituloServicio">Centro Estético Tairy</h4>
        <section class="serEncabezado">
            <h2 class="tituloServicio">Servicios</h2>
            <p class="tituloServicio">
                <button type="button" id="botonAdser">Administrar Servicios</button>
                <button type="button" id="botonExdata">Export Data</button>
                <button type="button" id="botonSeguir">+</button>
            </p>
            <div id="listaTratamiento">
                <!--lista de tratamientos-->
            </div>

        </section>
    </section>
  
</div>