<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

<app-navbar></app-navbar>

<section id="noticias">

  <div id="comentarios-carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause:hover>
      <div class="carousel-inner" data-intro='Carrusel de comentarios de nuestros clientes'>
            <div class="carousel-item active">
                <img class="comentarios-image" src={{active.img}} alt={{active.descripcion}} height=100%>
            </div>
            <div class="carousel-item" *ngFor="let j of promociones">
                <div class="cliente">
                    <img class="comentarios-image" src={{j.img}} alt={{j.descripcion}} height=100%>
                </div>
            </div>
      </div>
      <a class="carousel-control-prev" href="#comentarios-carousel" role="button" data-slide="prev">
        <i class="icon-control fas fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#comentarios-carousel" role="button" data-slide="next">
        <i class="icon-control fas fa-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
  </div>
</section>

<section id="promos" >
  <h1>Nuestras Ofertas</h1>
  <hr>
  <div id="faciales" class="row">
      <h3 class="col-lg-12">Promociones en tratamientos Faciales</h3>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
  </div>
  <br>
  <div id="corporales" class="row">
      <h3 class="col-lg-12">Promociones en tratamientos Corporales</h3>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
  </div>
  <div id="reductores" class="row">
      <h3 class="col-lg-12">Promociones en tratamientos Reductores</h3>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
  </div>
  <div id="post-operatorio" class="row">
      <h3 class="col-lg-12">Promociones en tratamientos Post-Operatorios</h3>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
      <div class="promo col-lg-2">
          <img src="../assets/servicios1.jpg" alt="Promo 1">
          <h2>Promo 2x1</h2>
          <p>qui voluptate voluptate nostrud aliqua magna laborum mollit labore culpa</p>
      </div>
  </div>
</section>
<app-whatsapp></app-whatsapp>
<app-footer></app-footer>
<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>