<footer>
    <div class="contact-grid">
        <img class="img-footer" src="../../assets/logo1.PNG" alt="Logo">
        <div class="info row">
            <h2 class="col-lg-12">Contactos</h2>
            <div class="contact-info col-lg-5">
                <p class="dato">Correo Electronico: </p>
                <p>cet@hotmail.com</p>
                <p class="dato">Numeros de contacto: </p>
                <span>04-2539874</span>        
                <span>04-2369874</span>
            </div>
            <div class="contact-info col-lg-7">
                <p class="dato">Dirección: </p>
                <p>Colinas de la Alborada Mz. 784 V. 31</p>
                <p class="dato">Horarios de Atención: </p>
                <p>Lunes a Viernes: 9:00 a 18:00</p>
                <p>Sábados: 9:00 a 16:00</p>
            </div>
        </div>
    </div>
    <hr>
    <p> <i class="fas fa-copyright"></i> Copyright</p>
</footer>