<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Ingreso</h5>
                    <p class="message">Bienvenido de vuelta! Porfavor ingrese para continuar.</p>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputEmail">Usuario o correo electronico</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Contraseña</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Recordar contrasena</label>
                            <a href="" class="forgot-pass">Olvido su contrasena?</a>
                        </div>
                    <button class="btn btn-sm btn-primary text-uppercase" type="submit">Ingresar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>