<div id="sidebar-container" class="bg-primary">
  <div class="logo">
      <div class="row">
          <img src="../../../assets/logo3.PNG" class="col-sm-8" alt="">
          <button class="btn d-block iconColor p-3" (click)="myClick()">
            <ion-icon class="icon ion-md-menu mr-2 lead" name="menu"></ion-icon>
            <i class="icon ion-md-menu mr-2 lead"></i></button>
      </div>
  </div>
  <div class="menu">
      <a routerLink="/estadistica" routerLinkActive="active" class="d-block iconColor p-3">
        <ion-icon class="icon ion-md-home mr-2 lead" name="home"></ion-icon>
          <!-- <ion-icon class="icon ion-md-home mr-2 lead"></ion-icon> -->Inicio
      </a>
      <a routerLink="/serviciosDash" class="d-block iconColor p-3">
        <ion-icon name="cube" class="icon ion-md-cube mr-2 lead"></ion-icon>
        <!-- <ion-icon class="icon ion-md-cube mr-2 lead"></ion-icon> -->Servicios
      </a>
      <a routerLink="/calendario" class="d-block iconColor p-3">
        <ion-icon class="icon ion-md-calendar mr-2 lead" name="calendar"></ion-icon>
        <!-- <ion-icon class="icon ion-md-calendar mr-2 lead"></ion-icon> -->Agenda
      </a>
      <a routerLink="/usuarios" class="d-block iconColor p-3">
        <ion-icon class="icon ion-md-contact mr-2 lead" name="people"></ion-icon>
        <!-- <ion-icon class="icon ion-md-contact mr-2 lead"></ion-icon> -->Usuarios
      </a>

  </div>
</div>
