<div class="d-flex fondoColor">
  <app-sidebar></app-sidebar>
  <app-navbar-admin></app-navbar-admin>

  <div class="especificaciones">
    <ul class="item-especificaicones item1 item1a">
      <li class="li-2">{{clientes}}</li>
      <li class="li-3c">
        <div class="li-3aB">Clientes registrados</div>
      </li>
    </ul>
    <ul class="item-especificaicones item2 item2a">
      <li class="li-2">{{empleados}}</li>
      <li class="li-3c">
        <div class="li-3aB">Empleados registrados</div>
      </li>
    </ul>
    <ul class="item-especificaicones item3 item3a">
      <li class="li-2">{{servicios}}</li>
      <li class="li-3c">
        <div class="li-3aB">Servicios registrados</div>
      </li>
    </ul>
    <ul class="item-img">
      <li>
        <img id="logo" src="../../../assets/logo1.PNG" width="170" height="100" alt="" />
      </li>
    </ul>
    <div class="graficas">
      <div class="partners">
        <p id="tituloPart">CITAS POR AREAS</p>
        <app-pie grafico="Citas"></app-pie>
      </div>
      <div class="OVERVIEW">
          <p id="tituloOver">PROMOCIONES POR AREA</p>
          <app-pie grafico="Promos"></app-pie>
      </div>
    </div>
    <div class="ubicaciones">
      <div class="map-ciudades">
        <div class="tituloMap">
          <p id="tituloMap">
            Clientes por Ciudad
          </p>
        </div>
        <div class="map">
          <app-bar></app-bar>
        </div>
      </div>
      <div class="consejos">
        <div class="imgConsejo">
          <img class="img-fluid rounded d-block m-l-none" id="imgConsejos" src="../../../assets/consejo.PNG" alt="" />
        </div>
        <div class="textoConsejo">
          <p id="tituloConsejo">Siempre recuerda la mision!</p>
          <p id="contenidoConsejo">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est eopksio laborum. Sed
            ut perspiciatis unde omnis istpoe natus error sit voluptatem
            accusantium doloremque….
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
