/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/beyond-the-mountains');


body{
    font-family: 'Roboto', sans-serif;
    color: #707070 !important;
    background-color: #fafafa;
}

#navbarToggler{
    display: flex !important;
    justify-content: left !important;
}

#servicios, #comentarios, #mapa, #nosotros, #valores, #equipo, #certificados, #cuentanos, #noticias, #promos {
    padding: 7rem 3rem;
    text-align: center;
    background-color: #fafafa;
}

h1{
    color: #7db63d;
    font-family: 'Beyond The Mountains', sans-serif;
    font-size: 3vw !important;              
}

h3{
    font-weight: bold;
    font-size: 150%;
}

hr{
    width: 10rem;
    background-color: #185f33;
}

@media screen and (max-width: 1000px){
    #redes, .portada, .img-descripcion{
        display: none;
    }
    .descripcion{
        padding: 0 10%;
    }
}

