.root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #7db63d;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #707070;
    --gray-dark: #343a40;
    --primary: #7db63d !important;
    --secondary: #185f33;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f5f7f2;
    --dark: #343a40;
}

body {
    background: #f5f7f2;
}

#landing {
    background: #7db63d;
}