.root {
    --primary: rgb(121,181,48) !important;
    --light: #ffffff;
    --grey: #efefef;
 
}
body {
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300px;
    color: var(--primary);
    
}
.bg-light {
  background-color: #7db63d !important;
}
.notificacion {
  color: #ffffff !important;
}
.notificacion:hover {
  color: #000000 !important;
}
a:hover {
  text-decoration: none;
  color: #7db63d !important;
}
.iconColor {
  color: #7db63d !important;
}
.iconColor:hover {
  color: #000000 !important;
}
.bg-primary {
  background-color: var(--light) !important;
}
.tamanio{
  font-size: 0px;
}
#sidebar-container {
  width: 220px;
  min-height: 100vh;
}
#sidebar-container .logo {
  padding: 0.875rem 1rem;
}
.btn-search {
  right: 5px;
}
.btn-redondo {
  border-radius: 30px;
}
.img-usuario {
  max-width: 35px;
}
.fondoColor {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40%;
    background-color: #7db63d;
    z-index: -1;
    background-image: url('diseno\img\logo1.PNG');
}
#estatico{
  position: absolute;
  z-index: 100;
}
#calendar{
  padding: 80px;
}
