<app-navbar></app-navbar>

<app-slogan></app-slogan>

<section id="cuentanos">
  <h1>Cuéntanos tu experiencia</h1>
  <hr>
  <div id="contactanos" class="row row-cols-lg-2 row-cols-1">
      

      <img src="../assets/servicios1.jpg" alt="imagen" class="col-lg-5">
      <div  class="col-lg-7">
          <div id="formLayout"> 
              <form>
                  <legend>Déjanos un mensaje</legend>

                  <div class="form-group row">
                      <label for="contact-nombre">Nombre: *</label>
                      <input type="text" class="form-control" id="contact-nombre" placeholder="Escribe tu nombre completo aquí.">
                  </div>

                  <div class="form-group row">
                      <label for="contact-nacimiento">Fecha de nacimiento: *</label>
                      <input type="date" class="form-control" id="contact-nacimiento" name="nacimiento" value="2020-12-03" min="1950-12-03" max="2002-12-03">
                  </div>
                  
                  <div class="form-group row">
                      <label for="contact-ciudad">Ciudad: *</label>
                      <select id="contact-ciudad" class="form-control">
                        <option selected>Selecciona una ciudad...</option>
                      </select>
                  </div>


                  <div class="form-group row">
                      <label for="contact-mail">Correo Electrónico: *</label>
                      <input type="email" class="form-control" id="contact-mail" placeholder="ejemplo@gmail.com" >
                  </div>

                  <div class="form-group row">
                      <label for="contact-detalle">Mensaje: *</label>
                      <textarea class="form-control" id="contact-detalle" placeholder="Escribe tu mensaje aquí." rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
          </div>
      </div>

  </div>

</section>

<app-whatsapp></app-whatsapp>

<app-footer></app-footer>