/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/beyond-the-mountains');


body{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    background-color: #fafafa;
}

#navbarToggler{
    display: flex !important;
    justify-content: left !important;
}

#servicios, #comentarios, #mapa, #nosotros, #valores, #equipo, #certificados, #cuentanos, #noticias, #promos {
    padding: 3rem;
    text-align: center;
    background-color: #fafafa;
}

h1{
    color: #7db63d;
    font-family: 'Beyond The Mountains', sans-serif;
    font-size: 3.5vw;              
}

h3{
    font-weight: bold;
    font-size: 150%;
}

hr{
    width: 10rem;
    background-color: #185f33;
}





/* Flotante Whatsapp */

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#185f33;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
    text-decoration: none;
    color: #fafafa;
  background-color:#7db63d;
}

.my-float{
    margin-top:16px;
}