#calendar{
  margin-top: 80px;
  width: 100%;
  overflow-y: auto;

}

#calendar{
  background-color: #ffffff;
  text-decoration-color: #7db63d !important;
  font-family: 'Times New Roman', Times, serif;
}
.fc .fc-button-primary{
  background-color: #7db63d !important;
}
.fondoColor {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7db63d;
}
