/*NOSOTROS*/

.row.row-cols-lg-2.row-cols-1{
    margin: 0 10%;
}

.descripcion{
    text-align: justify;
    padding: 5% 5% 0 5%;
    font-size: 100%;
}

/*VALORES*/

.valores-grid{
    padding: 2.5%;
}

h2{
    margin-top: 5%;
    font-family: 'Beyond The Mountains', sans-serif;
    margin-bottom: 3%;
    color: #185f33 ;
    font-size: 2vw;
}

/*EQUIPO*/

.equipo-grid{
    margin: 5% 10% 2%;
}

.integrante{
    background-color: #f5f7f2;
    margin-bottom: 5%;
    margin-left: 5.5%;
}

.integrante > img{
    max-width: 20%;
}

/*CERTIFICADOS*/

.certificados-grid{
    margin:  2% 10%;
}
