<app-navbar></app-navbar>

<app-slogan></app-slogan>

<section id="nosotros">
    <h1>Quienes somos?</h1>
    <hr>
    <h3>Somos un centro estético, con certificación internacional</h3>
    <div class="row row-cols-lg-2 row-cols-1">
        <div class="descripcion">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                ultricies sapien quam, ac venenatis felis scelerisque id. hasellus
                in facilisis elit. Lorem ipsum dolor sit amet, onsectetur dipiscing
                elit. Class aptent taciti sociosqu ad litora torquent per.</p>
            <p>Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Sed sit amet arcu quis neque molestie
                feugiat at nec erat. Donec in dolor lobortis, viverra turpis sit ame</p>
        </div>
        <div class="img-descripcion">
            <img src="../../assets/senora_preview_rev_1.png" alt="cosmetologa">
        </div>
        
    </div>

</section>

<section id="valores">
    <h1>Nuestros Valores</h1>
    <hr>
    <div class="valores-grid row">
        <div class="valor col-lg-3">
            <h2>Los clientes son lo primero</h2>
            <p>Escuchamos, apoyamos y
                nos comunicamos. Nuestra
                principal prioridad es
                superar los objetivos de
                nuestros clientes y adaptar
                nuestro enfoque para
                lograrlo</p>
        </div>
        <div class="valor col-lg-3">
            <h2>Los clientes son lo primero</h2>
            <p>Escuchamos, apoyamos y
                nos comunicamos. Nuestra
                principal prioridad es
                superar los objetivos de
                nuestros clientes y adaptar
                nuestro enfoque para
                lograrlo</p>
        </div>
        <div class="valor col-lg-3">
            <h2>Los clientes son lo primero</h2>
            <p>Escuchamos, apoyamos y
                nos comunicamos. Nuestra
                principal prioridad es
                superar los objetivos de
                nuestros clientes y adaptar
                nuestro enfoque para
                lograrlo</p>
        </div>
        <div class="valor col-lg-3">
            <h2>Los clientes son lo primero</h2>
            <p>Escuchamos, apoyamos y
                nos comunicamos. Nuestra
                principal prioridad es
                superar los objetivos de
                nuestros clientes y adaptar
                nuestro enfoque para
                lograrlo</p>
        </div>
    </div>

</section>

<section id="equipo">
    <h1>El Equipo</h1>
    <hr>
    <div class="equipo-grid row">
        <div class="integrante col-lg-5" *ngFor=" let j of integrantes">
            <img src="../../assets/usuario.png" alt="integrante">
            <h2>{{j.integrante}}</h2>
            <p>{{j.cargo}}</p>
            <p>{{j.informacion}}</p>
        </div>
    </div>

</section>

<section id="certificados">
    <h1>Certificados obtenidos</h1>
    <hr>
    <div class="row certificados-grid">
        <img class="col-lg-3" src="../../assets/certificado.png" alt="certificado">
        <img class="col-lg-3" src="../../assets/certificado.png" alt="certificado">
        <img class="col-lg-3" src="../../assets/certificado.png" alt="certificado">
        <img class="col-lg-3" src="../../assets/certificado.png" alt="certificado">
    </div>
</section>

<app-whatsapp></app-whatsapp>
<app-footer></app-footer>
