<app-navbar></app-navbar>

<section id="busqueda">
  <div class="input">
      <h1 class="titulo">Nuestros tratamientos</h1>
      <input class="form-control form-control-lg" type="text" name="inputServicio" id="inputServicio" placeholder="Buscar...">
  </div>

  <div class="categorias-grid row">
      <div class="categoria col-lg-3 col-md-6" id="faciales">
          <img class="silueta" src="../../assets/body.png" alt="tratamiento">
          <h2>Faciales</h2>
      </div>
      <div class="categoria col-lg-3 col-md-6" id="corporales">
        <img class="silueta" src="../../assets/body.png" alt="tratamiento">
          <h2>Corporales</h2>
      </div>
      <div class="categoria col-lg-3 col-md-6" id="reductores">
        <img class="silueta" src="../../assets/body.png" alt="tratamiento">
          <h2>Reductores</h2>
      </div>
      <div class="categoria col-lg-3 col-md-6" id="post-operatorios">
        <img class="silueta" src="../../assets/body.png" alt="tratamiento">
          <h2>Post Operatorios</h2>
      </div>
  </div>
</section>

<section id="lista-servicios">
  <div id="tratamientos" class="row">
    <div class="servicio col-lg-2 filtrar" *ngFor="let j of servicios;let i=index;trackBy:trackByOption">
      <img src="../../assets/tratamiento.png" alt="tratamiento">
      <h2>{{j.nombre}}</h2>
      <p class="categoria">{{tipos[i][0].nombre}}</p>
      <p>$ {{j.costo}}</p>
    </div>
  </div>
  <button id="ver-mas" class="btn btn-link btn-block text-center" type="button" (click)="mostrar()">
    Ver mas
  </button>
  
</section>

<app-footer></app-footer>
<div>
    <a class="up" href="/servicios/#busqueda"> <i class="fas fa-chevron-up"></i></a>
</div>